.table-row {
  cursor: pointer;
}

.arrow-up-icon {
  font-size: 24px;
  color: green;
  vertical-align: middle;
}

.arrow-down-icon {
  font-size: 24px;
  color: red;
  vertical-align: middle;
}


/* Add animation for yellow highlighting rows */
@keyframes blink-yellow {
  0% { background-color: #fff3cd; }
  25% { background-color: #ffeeba; }
  50% { background-color: #ffeeba; }
  75% { background-color: #ffeeba; }
  100% { background-color: #fff3cd; }
}

.result-stock-bearish {
  animation: blink-yellow 5s infinite;
}
/* Add animation for highlighting bearish rows */
@keyframes blink-red {
  0% { background-color: #f8d7da; }
  50% { background-color: #f5c6cb; }
  100% { background-color: #f8d7da; }
}

.highlight-row {
  animation: blink-red 5s infinite;
}