.table-row {
  cursor: pointer;
}

.arrow-icon {
  font-size: 24px;
  vertical-align: middle;
}

.arrow-icon-up {
  color: green;
}

.arrow-icon-down {
  color: red;
}


/* Add animation for yellow highlighting rows */
@keyframes blink-yellow {
  0% { background-color: #fff3cd; }
  25% { background-color: #ffeeba; }
  50% { background-color: #ffeeba; }
  75% { background-color: #ffeeba; }
  100% { background-color: #fff3cd; }
}

.result-stock {
  animation: blink-yellow 5s infinite;
}

/* Add animation for highlighting rows */
@keyframes blink-green {
  0% { background-color: #d4edda; }
  25% { background-color: #c3e6cb; }
  50% { background-color: #c3e6cb; }
  75% { background-color: #c3e6cb; }
  100% { background-color: #d4edda; }
}

.bullish-highlight-row {
  animation: blink-green 5s infinite;
}
